html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
}

.footer {
    position: relative;
    height: 5%;
    clear: both;
    padding-top: 20px;
    background-color: #F8F8F8;
}


.donate {
    left: 1%;
    margin: 0 auto;
    position: absolute;
    top: 36%;
}

.img-donate {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}