{% extends 'miningpoolsregistry/base.html' %}
{% block content %}
<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Website</th>
        <th>Coin</th>
    </tr>
    </thead>
    <tbody>
        {% for p in pools %}
            <tr>
                <td>{{ p.name }}</td>
                <td>
                    <a href="{{ p.url }}" target="_blank">{{ p.url }}</a>
                </td>
                <td>
                    {% if p.coin and p.coin.logo_small %}
                        <img data-toggle="tooltip" title="{{ p.coin.name }}" src="{{ p.coin.logo_small.url }}" alt="{{ c.name }}">
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if pools.has_other_pages %}
    <nav aria-label="...">
        <ul class="pager">
            {% if pools.has_previous %}
                <li class="previous">
                    <a href="?page={{ pools.previous_page_number }}">
                        <span aria-hidden="true">&larr;</span> Previous
                    </a>
                </li>
            {% else %}
                <li class="previous disabled">
                    <a href="javascript:void(0)">
                        <span aria-hidden="true">&larr;</span> Previous
                    </a>
                </li>
            {% endif %}
            {% if pools.has_next %}
                <li class="next">
                    <a href="?page={{ coins.next_page_number }}">
                        Next <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            {% else %}
                <li class="next disabled">
                    <a href="javascript:void(0)">
                        Next <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
{% endblock %}