{% extends 'miningpoolsregistry/base.html' %}

{% block content %}
<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Algorithm</th>
        <th>Website</th>
    </tr>
    </thead>
    <tbody>
    {% for c in coins %}
        <tr>
            <td>
                {% if c.logo_small %}
                    <img src="{{ c.logo_small.url }}" alt="{{ c.name }}">
                {% endif %}
                {{ c.name }}
            </td>
            <td>{{ c.algorithm }}</td>
            <td>
                <a href="{{ c.website }}" target="_blank">{{ c.website }}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if coins.has_other_pages %}
    <nav aria-label="...">
        <ul class="pager">
            {% if coins.has_previous %}
                <li class="previous">
                    <a href="?page={{ coins.previous_page_number }}">
                        <span aria-hidden="true">&larr;</span> Previous
                    </a>
                </li>
            {% else %}
                <li class="previous disabled">
                    <a href="javascript:void(0)">
                        <span aria-hidden="true">&larr;</span> Previous
                    </a>
                </li>
            {% endif %}
            {% if coins.has_next %}
                <li class="next">
                    <a href="?page={{ coins.next_page_number }}">
                        Next <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            {% else %}
                <li class="next disabled">
                    <a href="javascript:void(0)">
                        Next <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
{% endblock %}