{% load staticfiles %}
{% load active_link_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Ivan Chornyi">
    <link rel="icon" href="../../favicon.ico">

    <title>Mining pools registry</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'miningpoolsregistry/css/main.css' %}">
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'homepage' %}">Mining pools registry</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{% active_link 'homepage' %}">
                    <a href="{% url 'homepage' %}">Pools</a>
                </li>
                <li class="{% active_link 'coins:coin_list' %}">
                    <a href="{% url 'coins:coin_list' %}">Coins</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div id="wrap">
    <div id="main" class="container">
    {% block content %}
    {% endblock %}
    </div> <!-- /container -->
</div>


<footer class="footer">
    <div class="donate align-right">
        <b>Donate:</b>
        BTC:
        <a data-toggle="modal" data-target="#btc-modal" href="javascript:void(0)">1E1hfqxmdbchcnt5QsUzgUVMxr9bcT49SR</a>
        ETH:
        <a data-toggle="modal" data-target="#eth-modal" href="javascript:void(0)">0x1721921a6ec63ab1d4cd319a87d1815abf0a427e</a>
        ZEC:
        <a data-toggle="modal" data-target="#zec-modal" href="javascript:void(0)">t1Li95ATtmpgPrqLyEL4NxbwoieX46zvGad</a>
    </div>
</footer>
<div class="modal fade bs-example-modal-sm" id="btc-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body center">
            {% load static %}
                <img class="img-donate" src="{% static 'pools/img/btc.png' %}" alt="BTC donate">
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" id="eth-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body center">
            {% load static %}
                <img class="img-donate" src="{% static 'pools/img/eth.png' %}" alt="ETH donate">
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" id="zec-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body center">
            {% load static %}
                <img class="img-donate" src="{% static 'pools/img/zec.png' %}" alt="ZEC donate">
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
